@import url('../fonts/webfont-iosevka-slab-11.2.1/iosevka-slab.css');
@import url('../fonts/webfont-iosevka-ss07-11.2.1/iosevka-ss07.css');

/* https://tailwindcss.com/docs */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #___gatsby {
    @apply h-full;
  }

  #gatsby-focus-wrapper {
    @apply h-full flex flex-col;
  }
}
